/*@import url("reset.css");*/

@import url('font-awesome.css');

/*@font-face {
    font-family: 'Open sans';
    src: url('OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open sans';
    src: url('OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}*/


/* Banner*/
#bannerNormal {
  width: 100%;
  margin: 0 auto;
  max-width: 948px;
  position: relative;
  overflow: hidden;
}
#bannerMovil {
  position: relative;
  overflow: hidden;
}
.cardiolat-bannerfondo {
  text-align: left;
  margin-left: 1px;
  z-index: 1;
  overflow: hidden;
  width: 100%;
}
.cardiolat-logo {
  position: absolute;
  text-align: left;
  margin-top: 0px;
  z-index: 2;
  top: 0;
  width: 100%;
}
.cardiolat-logo img,.cardiolat-bannerfondo img{
  width: 100%;
}
/* ------ buttons
-----------------------------------------------*/
.divBotonesPrincipales{
/*background:;
padding: 20px 20px 20px 20px ;*/
font-family:Arial, Helvetica, sans-serif;
margin: 0;
/*font-size:12px;
color:#666;
line-height:18px;*/
}


.divBotonesPrincipales .btnCardio {
float:left;
display:inline-block;
height:44px;
line-height:44px;
padding:0 10px 0 50px;
background:url(/CargaArchivosFTP/images/cardiolat/botones_principales/white.jpg) repeat-x;
color:#999;
font-weight:bold;
font-size:13px;
text-shadow:0 1px 0 #fff;
position:relative;
border:1px solid #DFDFDF;
margin:0 10px 10px 0;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
}

.divBotonesPrincipales .btnCardio:hover {
border-color:#cacaca;
background:#F8F8F8;
text-decoration:none;
}

.divBotonesPrincipales .btnCardio span {
display:block;
position:absolute;
top:7px;
left:9px;
width:35px;
height:32px;
background-repeat:no-repeat;
background-position:center;
}

.divBotonesPrincipales .btnCardio.foros span {
	background-image: url(/CargaArchivosFTP/images/cardiolat/botones_principales/icons/foros.png);
}
.divBotonesPrincipales .btnCardio.proponer span {
	background-image: url(/CargaArchivosFTP/images/cardiolat/botones_principales/icons/proponer.png);
}
.divBotonesPrincipales .btnCardio.casos span {
	background-image: url(/CargaArchivosFTP/images/cardiolat/botones_principales/icons/casos.png);
}
.divBotonesPrincipales .btnCardio.miscasos span {
	background-image: url(/CargaArchivosFTP/images/cardiolat/botones_principales/icons/mis-casos.png);
}
.divBotonesPrincipales a {
text-decoration:none;
color:#fff;
}
.btnMision {
float:left;
display:inline-block;
width:210px;
height:42px;
line-height:20px;
padding:10px 8px 0 80px;
background:#EBEBEB;
color:#999 !important;
font-weight:bold !important;
font-size:18px !important;
text-shadow:0 1px 0 #fff;
position:relative;
border:1px solid #DFDFDF;
margin:0 10px 10px 0;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
text-decoration: none;
}
.btnMision:hover {
border-color:#cacaca;
background:#F5F5F5;
text-decoration: none !important;
}
.btnMision span {
display:block;
position:absolute;
top:5px;
left:9px;
width:32px;
height:32px;
background-repeat:no-repeat;
background-position:center;
text-decoration: none;
}
.btnTerminos{
	text-decoration: none !important;
	color: #5992c2 !important;
	float: right;
	margin-right: 12px;
	margin-top: 12px;
}
.btnTerminos:hover{
	text-decoration: none !important;
}

/*********************************/
.btnAmirsys {
float:left;
display:inline-block;
width:117px;
height:47px;
line-height:18px;
padding:14px 0px 0 100px;
background:#EBEBEB;
color:#999 !important;
font-weight:bold !important;
font-size:15px !important;
text-shadow:0 1px 0 #fff;
position:relative;
border:1px solid #DFDFDF;
margin:0 10px 10px 0;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
text-decoration: none !important;
z-index: 200;
}

.btnAmirsys:hover {
border-color:#cacaca;
background:#F5F5F5;
text-decoration: none !important;
}

.btnAmirsys span {
display:block;
position:absolute;
top:-5px;
left:9px;
width:68px;
height:74px;
background-repeat:no-repeat;
background-position:center;
background-image: url(/CargaArchivosFTP/images/cardiolat/Amirsys.png);
background-repeat: no-repeat;
}

.btnJournals {
float:left;
display:inline-block;
width:117px;
height:47px;
line-height:18px;
padding:14px 0px 0 100px;
background:#EBEBEB;
color:#999 !important;
font-weight:bold !important;
font-size:15px !important;
text-shadow:0 1px 0 #fff;
position:relative;
border:1px solid #DFDFDF;
margin:0 10px 10px 0;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
text-decoration: none !important;
z-index: 200;
}


.btnJournals:hover {
border-color:#cacaca;
background:#F5F5F5;
text-decoration: none !important;
}

.btnJournals span {
display:block;
position:absolute;
top:-5px;
left:9px;
width:68px;
height:74px;
background-repeat:no-repeat;
background-position:center;
background-image: url(/CargaArchivosFTP/images/cardiolat/Journals.png);
}

.btnhome {
	float: left;
	display: inline-block;
	width: 199px;
	height: 57px;
	line-height: 17px;
	padding: 10px 12px 0px 85px;
	background: #EBEBEB;
	color: #8f8f8f !important;
	font-weight: 300 !important;
	font-size: 15px !important;
	text-shadow: 0 1px 0 #fff;
	position: relative;
	border: 1px solid #DFDFDF;
	margin: 0 3px 10px 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	text-decoration: none;
	z-index: 200;
}

.btnhome:hover {
border-color:#cacaca;
background:#F5F5F5;
text-decoration: none !important;
}

.btnhome span {
display:block;
position:absolute;
top:8px;
left:25px;
width:40px;
height:40px;
background-repeat:no-repeat;
background-position:center;
background-image:url(/CargaArchivosFTP/images/cardiolat/home.png);
}

.btnHistoConf {
display:inline-block;
width:137px;
height:45px;
line-height:15px;
padding:20px 12px 0 70px;
background:#88c13b;
color:#fff !important;
font-weight:bold !important;
font-size:15px !important;
position:relative;
border:1px solid #DFDFDF;
margin:0 10px 10px 0;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
text-decoration: none !important;
z-index: 200;
}

.btnHistoConf:hover {
border-color:#a0cb66;
background:#a0cb66;
text-decoration: none !important;
}

.btnHistoConf span {
display:block;
position:absolute;
top:15px;
left:9px;
width:48px;
height:32px;
background-repeat:no-repeat;
background-position:center;
background-image:url('/CargaArchivosFTP/images/cardiolat/confe.png');
}

/* rotator in-page placement 
    div.rotator {
	/*position:relative;
	display: none;
	height: 150px !important;
    margin-bottom: 5px;
	left: 4px;
	z-index: 2;
	position:relative;
				height:0px; !important
				margin-top: 64px;
				display: none;
				left: 0;
}
/* rotator css 
	div.rotator ul li {
	float:left;
	position:absolute;
	list-style: none;
	bottom: 0;
}
 rotator image style 	
	div.rotator ul li img {
	border:0px solid #ccc;
	padding: 4px;
	background: #FFF;
}
    div.rotator ul li.show {
	z-index:500
}*/

.ac-container{
	width: 211px;
	text-align: left;
	margin-left:1px;
	font-family:'Open Sans', sans-serif;
}
.ac-container label{
	font-family:'Open Sans', sans-serif;
	padding: 8px 15px;
	position: relative;
	z-index: 20;
	display: block;
	height: 46px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 13px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
		background-image:url(/CargaArchivosFTP/images/cardiolat/arrow_down.png);
		background-repeat:no-repeat;
		background-position: 179px;



}
.ac-container label:hover{
	background: #fff;
	
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #c6e1ec;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);	
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 13px;
	background: transparent url(/CargaArchivosFTP/images/cardiolat/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(/CargaArchivosFTP/images/cardiolat/arrow_up.png);
}
.ac-container input{
	display: none;

}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	/*-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;*/
	


}
.ac-container article p{
	font-style: regular;
	color: #777;
	line-height: 15px;
	font-size: 12px;
	padding: 0px 0px 0px 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container  article{
	/*-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;*/
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
	
}
.ac-container article.ac-minismall{
	height: 100px;
}
.ac-container  article.ac-small{
	height: 205px;
	
	}
.ac-container  article.ac-small2{
	height: 200px;
}
.ac-container  article.ac-medium{
	height: 380px;
}
.ac-container  article.ac-large{
	height: 800px;
}

.ac-container  article.ac-extralarge{
	height: 930px;
}




/**/

.pesta {
   width:100px;
   text-decoration: none;
   font-weight: bold;
   border-right: 30px solid transparent;
   border-bottom: 30px solid #5fb8e3; 
   border-left: 30px solid transparent;
   box-sizing: content-box;
   
}

.cuadro1 {
     
	 box-sizing: content-box;
	 width:170px;
	 height:45px;
	 border: 1px solid #5fb8e3; 
     border-top: 1px solid #49a4d0;      
     padding: 20px;
	 background:#5fb8e3;
}

.confeFolder {
    display: inline-block;
    margin-right:40px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.confeFolder {
    float:left;
    margin-right:18px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.confeFolder .container{
	width: 212px;
}

.confeFolder .cuadro1 .texto a, .confeFolder .cuadro1 .texto {
	font-size: 12px;
	width: 150px;
	height: 50px;
	margin-top: -30px;
	margin-left: 22px;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 13px !important;
	color: #FFFFFF !important;
	float: left;
	display: inline;
	font-weight: 100 !important;
	text-decoration: none;
}

.ac-small.hideArt{
	padding-top: 15px
}

.ac-small.hideArt p{
	padding:0px 20px
}

.ac-small.hideArt p a{
	display: block;
	font-size:13px;
}


.imagen{
     width:50px;
	 height:50px;
	 margin-top:2px;
	 margin-left:-7px;
	 background-repeat:no-repeat;
	 
}

/*.texto{
     
	
	 width:150px;
	 height:50px;
	 margin-top:-58px;
	 margin-left:48px;
	 font-family: 'Open Sans', sans-serif !important;
	 font-size:13px !important;
	 color:#FFFFFF !important;
	 float:left;
	 display:inline;
	 font-weight:100 !important;
	 text-decoration: none;

	 
	 
}*/

a.primero:link {text-decoration:none;color:#FFFFFF !important;} 


a.primero:visited {text-decoration:none;color:#FFFFFF !important;} 


a.primero:active {text-decoration:none;color:#FFFFFF !important;} 


a.primero:hover {text-decoration:none;color:#c9eafa !important;} 


a.segundo:link {text-decoration:none;color:#8A8A8A !important;} 


a.segundo:visited {text-decoration:none;color:#8A8A8A !important;} 


a.segundo:active {text-decoration:none;color:#8A8A8A !important;} 


a.segundo:hover {text-decoration:none;color: #5fb8e3 !important;} 

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #8f8f8f;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
}


/* GLOBALS */

.logo_mk{
	vertical-align: top;
	margin-top: 18px;
	float: right;
}

.container{
	width: 970px;
}

.main{
	width: 694px;
	display: inline-block;
}

.titulo_Seccion{
	background-color: #a8d270;
	color: #fff;
	padding: 12px 23px;
	font-family: 'Open Sans';
	width: 100%;
}

.titulo_Seccion .titulo{
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	font-family: 'Open sans';
	margin: 0;
}

.titulo_Seccion .texto{
	font-size: 16px;
}

.imagen_mes{
	margin: 20px 0 20px 0;
}

.imagen_mes img{
	width: 100%
}

.info_cuadro_azul, .foro_cuadro_azul{
	font-size: 16px;
	background-color: #43a6df;
	padding: 6px 10px;
	color: #fff;
	font-weight: 500;
	width: 136px;
	text-align: center;
	display: inline-block;
	margin: 0;
}

.foro_cuadro_azul{
	width: 85px;
}

.foro_texto textarea{
	width: 100%;
	height: 127px;
	padding: 15px 22px;
	font-size: 14px;
	background: #fff url('../images/bg-form.jpg') top right repeat-y;
	border: 0;
	color: #696b6d;
	font-family: 'Open sans';
	resize: none;
}

.lateral{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: auto;
	margin-left: 71px;
}

.foro_texto{
	border: 1px solid #d1d1d1;
	border-bottom: 0;
}

.foro_boton{
	width: 100%;
	background-color: #ededed;
	padding: 2px;
	border: 1px solid #d1d1d1;
	border-top: 0;
}

.comentarios{
	margin-top: 20px;
	background-color: #eeeeee;
	padding: 10px;
}

.comentario{
	margin-top: 10px;
}

.com_izq{
	display: inline-block;
	vertical-align: top;
	width: 101px;
}

.com_texto{
	display: inline-block;
	background-color: #fff;
	color: #696b6d;
	width: 506px;
	margin-left: 55px;
	padding: 10px;
	border: 1px solid #cccccc;
}

.com_flecha{
	background: url("../images/flecha-comment.jpg") no-repeat;
	width: 33px;
	height: 31px;
	float: left;
	margin-left: -43px;
}

.com_comentarios{
	color: #39afe6;
	font-size: 13px;
	margin-top: 10px;
}

.com_comentarios span{
	margin-left: 15px;
}

.foro_boton .botonEnviar{
	background-color: #21a1da;
	width: 76px;
	margin: 4px auto;
	text-align: center;
	color: #fff;
	padding: 8px 10px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	border: 1px solid #0f8acf;
	font-weight: bold;
	display: block;
}

.info_enviada_por{
	display: inline-block;
	color: #507dbb;
	font-size: 15px;
}

.foro_comentar{
	display: inline-block;
	color: #39afe6;
	font-size: 15px;
}

.info_titulo{
	width: 100%;
	background-color: #e8e8e8;
	padding: 6px 28px;
	color: #696b6d;
	font-weight: bold;
	border: 1px solid #d1d1d1;
	border-bottom: 0;
	font-size: 15px;
	margin: 0;
}

.info_texto{
	padding: 15px 22px;
	font-size: 14px;
	background: #fff url('../images/bg-form.jpg') top right repeat-y;
	border: 1px solid #d1d1d1;
	border-top: 0;
	color: #696b6d;
}

.cuadro_info{
	margin-bottom: 20px;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

.wrapper-demo {
    /*margin: 60px 0 0 0;*/
    *zoom: 1;
    font-weight: 400;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}

.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 228px;
    /*margin: 0 auto;*/
    padding: 12px 0px 12px 40px;

    /* Styles */
    background: #ebebeb;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
		display: inline-block;
}

#dd, #dd.active {
	background-image: url(../images/FAV.png);
	background-position: 3px 5px;
	background-repeat: no-repeat;
	font-family: 'Open sans';
	color: #8F8F8F;
	font-size: 14px;
}

#dd1, #dd1.active{
	background-image: url(../images/casos.png);
	background-position: 14px 5px;
	background-repeat: no-repeat;
	width: 200px;
	padding-left: 52px;
	margin: 0 0 0 19px;
	font-family: 'Open sans';
	color: #8F8F8F;
	font-size: 14px;
}

#dd2, #dd2.active{
	background-image: url(../images/user.png);
	background-position: 9px 5px;
	background-repeat: no-repeat;
	width: 220px;
	padding-left: 47px;
	margin: 0 0 0 19px;
	color: #8f8f8f;
}

#dd2:after{
	display: none;
}

#dd.active, #dd1.active, #dd2.active{
	color: #fff;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #ebebeb;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.1);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
	list-style: none;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #8f8f8f;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
	z-index: 10;
}

/* No CSS3 support: none */

/*LATERAL*/

.btn.historial , .btnHistoConf{
	float:left;
	display:inline-block;
	width:199px;
	height:57px;
	line-height:17px;
	padding:10px 12px 0 70px;
	background:#88c13b;
	color:#fff !important;
	font-weight:400 !important;
	font-size:15px !important;
	position:relative;
	border:1px solid #DFDFDF;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	text-shadow: none;
	margin: 0;
}

.btn.historial:hover , .btnHistoConf:hover{
	border-color:#a0cb66;
	background:#a0cb66;
}

.btn.historial span {
	display:block;
	position:absolute;
	top:13px;
	left:9px;
	width:48px;
	height:32px;
	background-repeat:no-repeat;
	background-position:center;
}

.btn.historial span {
	background-image:url(../images/confe.png);
}

.btn.home {
	float:left;
	display:inline-block;
	width:199px;
	height:57px;
	line-height:17px;
	padding:10px 12px 0 85px;
	background:#EBEBEB;
	color:#8f8f8f !important;
	font-weight:300 !important;
	font-size:15px !important;
	text-shadow:0 1px 0 #fff;
	position:relative;
	border:1px solid #DFDFDF;
	/*margin-top:10px;*/
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	text-decoration: none;
	/*margin-top: 3px;*/
	margin: 3px 0 0 0;
}

.btn.home:hover {
	border-color:#cacaca;
	background:#F5F5F5;
}

.btn.home span {
	display:block;
	position:absolute;
	top:8px;
	left:25px;
	width:40px;
	height:40px;
	background-repeat:no-repeat;
	background-position:center;
}

.ancho_tabla{
	width: 237px !important;
	vertical-align: top;
}
tr .ancho_tabla:last-child{
	/*width: 212px;*/
	vertical-align: top;
}
.btn.home span {
	background-image:url(../images/home.png);
}

div .img_pause{
	float: left;
	margin-top: -106px;
	z-index: 1;
	margin-left: 75px;
	width: 64px;
	height: 66px;
}


div .img_video{
	position: relative;
	z-index: -1;
	width: 211px;
	height: 135px;
}
div .video_texto{
	text-align: left;
	color: #8c8c8c;
	padding-top: 4px;
	width:211px;
	margin-bottom: 4px;
}


/*ROTATOR*/

/* rotator in-page placement */
div.rotatorP {
	position:relative;
	height:150px !important; 
	margin-top: 65px;
	display: none;
	left: 0;
	
}
/* rotator css */
	div.rotatorP ul li {
	float:left;
	position:absolute;
	list-style: none;
}
/* rotator image style */
	div.rotatorP ul li img {
	border:1px solid #ccc;
	background: #FFF;
	padding: 0;
}
		div.rotatorP ul li.show {
	z-index:500
}

/*********/

/* rotatorX in-page placement */
		div.rotatorX {
	position:relative;
	display: none;
	height: 145px;
	width: 198px;
	margin-left: -3px;
}
/* rotatorX css */
	div.rotatorX ul li {
	float:left;
	position:absolute;
	list-style: none;
}
/* rotatorX image style */
	div.rotatorX ul li img {
	border:0px solid #ccc;
	padding: 4px;
	background: #FFF;
}
		div.rotatorX ul li.show {
	z-index:500
}

/****************/

.logos{
	width: 970px;
	margin-top: 10px;
}

/**********************/

.DnnModule-SCClinicalCasesMainButtons{
	z-index: 1000;
}

div.rotatorI {
position:relative;
height:513px;
display: none;
z-index:0
}
/* rotatorI css */
div.rotatorI ul li {
float:left;
position:absolute;
list-style: none;
width: 100%;
z-index:0
}
/* rotatorI image style */
div.rotatorI ul li img {
border:1px solid #ccc;
background: #FFF;
width: 100%;
z-index:0
}
div.rotatorI ul li.show {
z-index:0
}


/*Style*/

/* Misc ---------------------- */
body{
	font-family: "HelveticaNeueRegular", Helvetica, Arial, sans-serif;
}
h2{
	color: #29abe2;
	font-weight: bold;
	margin: 1ex 0;
	font-family: "HelveticaNeueRegular", Helvetica, Arial, sans-serif;
	font-size: 24px;
}
h2.c_title {
	background: transparent url(../img/arrow.gif) no-repeat left 5px;
	padding-left: 15px;
	margin-bottom: 10px;
}

.left { float: left !important; }

.right { float: right !important; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.hide { display: none; }

.clear { clear: both; }

img,a{
	border: 0;
}

/*****************************
*
	Home 1
*
******************************/

#Div1{/*Quitar cuando activo*/
	display: none;
}

#apDivInactivo{
	display: none;
	position: absolute;
	width: 252px;
	height: 23px;
	z-index: 2;
	left: 396px;
	top: 135px;
	font-family: 'Open Sans';
	font-size: 31px;
	color: #249ed8;
}

/** enviados **/
#apDiv3 {
	position: absolute;
	width: 140px;
	height: 23px;
	z-index: 2;
	left: 377px;
	top: 97px;
	font-family: "HelveticaNeueRegular", Helvetica, Arial, sans-serif;
	font-size: 22px;
	color: #09F;
	display: none;
	font-weight: 700;
}
#apDiv4 {
	position: absolute;
	width: 294px;
	height: 70px;
	z-index: 3;
	left: 377px;
	top: 139px;
	font-family: "HelveticaNeueRegular", Helvetica, Arial, sans-serif;
	font-size: 22px;
	line-height: 22px;
	color: #9C0;
	display: none;
}
#apDiv5 {
	position: absolute;
	width: 265px;
	height: 132px;
	z-index: 2;
	left: 419px;
	top: 227px;
	font-family: "HelveticaNeueRegular", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color:#7F7F7F;	
	display: none;
}
#apDiv6 {
	position: absolute;
	width: 112px;
	height: 32px;
	z-index: 3;
	left: 426px;
	top: 353px;
}
#apDiv7 {
	position: absolute;
	width: 58px;
	height: 36px;
	z-index: 4;
	left: 406px;
	top: 490px;
}
#apDiv8 {
	position: absolute;
	width: 183px;
	height: 69px;
	z-index: 5;
	left: 459px;
	top: 396px;
	display: none;
}
#live {
	position: absolute;
	width: 49px;
	height: 20px;
	z-index: 3;
	left: 462px;
	top: 504px;
	font-family: "HelveticaNeueRegular", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #7F7F7F;
}
#no-conf{
	position: absolute;
	width: 250px;
	height: 50px;
	z-index: 2;
	left: 344px;
	top: 212px;
	font-family: "HelveticaNeueRegular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #09F;
}
#no-conf2{
	position: absolute;
	width: 250px;
	height: 50px;
	z-index: 2;
	left: 344px;
	top: 135px;
	font-family: "HelveticaNeueRegular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #7F7F7F;
}
#alert {
	display: inline;
	width: 27px;
	z-index: 6;
	position: relative;
	top: -5px;
}
#alert img{
	position: absolute;
}

table.style1{
	border-collapse: collapse;
	border-spacing: 0;
	width: auto !important; 
}
#table-a table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 650px;
}
#table-a {
	position: relative;
	width: 648px;
	height: auto;
	z-index: 1;
	
	font-family: "HelveticaNeueRegular", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #7F7F7F;
	clear: both;
}
#table-a thead{
	/*background: #e2f5ff;*/
	background: #43a6df;
}
#table-a th{
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}
#table-a td,
#table-a th{
	/*border: thin solid #ccc;*/
	vertical-align: middle;
	height: 15px;
    padding: 10px;
}
#table-a tr.table-title td{
	vertical-align: middle !important;
}
#table-a tr.table-title p{
	margin-bottom: 0;
}
#table-a tr.table-title a{
	color: #58595b;
	font-weight: bold;
}
#table-a tr.table-title a:hover{
	text-decoration: none;
	cursor: auto;
}
.text-intro {
	width: 95%;
	height: auto;
	z-index: 3;
	/*border-style: solid;
	border-width: thin;
	border-color: #CCC;*/
	background-color: #a8d270;
	font-family: 'Open sans';
	font-size: 14px;
	color: #fff;
	text-align: justify;
	padding: 6px 12px;	
	margin-top: 57px;
}
/* rotator in-page placement */
    div.rotator {
	position:relative;
	height:318px;
	left: 2px;
	display: none;
}
/* rotator css */
	div.rotator ul{
		margin: 0;
		padding: 0;
	}
	div.rotator ul li {
	float:left;
	position:absolute;
	list-style: none;
}
/* rotator image style */	
	div.rotator ul li img {
	border:0px solid #ccc;
	background: #FFF;
}
    div.rotator ul li.show {
	z-index:500
}
/** #enviados **/

/** davidvu **/
#sidebar{
	width: 196px;
}
.row{
	color: #666666;
	font-family: "HelveticaNeueRegular", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
.row.w650{
	width: 970px;
	/*position: absolute;
	bottom: -70px;*/
}
.row.w650.hh{
	position: relative !important;
	bottom: 45px !important;
	margin-bottom: 60px !important;
	padding-bottom: 60px !important;
}
.row a{
	/*text-decoration: none;*/
	color: #03529f;
}
.row a:hover{
	text-decoration: none;
	cursor: pointer;
}
.last-confe{
	background: #fafafa;
	border: thin solid #ccc;
}
.sidebar-content{
	padding: 8px;
}
.sidebar-content p{
	margin: 6px 0;
}
.bg-molecular{
	/*background: url('../img/fondo2.png') no-repeat;
	height: 450px;
	width: 650px;
	background-position-y: 56px;*/
	/*background: url('/CargaArchivosFTP/images/cardiolat/fondoCardiolat.png') no-repeat;*/
	background: url('/CargaArchivosFTP/images/cardiolat/home_inactivo.jpg') no-repeat;
	background-size: 727px 504px;
	background-position: 0px 56px;
}

.iconos-casos{
	position: absolute;
	top: -40px;
	left: 5px;
}
.select-case{
	color: #666666;
	font-size: 12px;
	font-weight: 400;
	position: absolute;
	left: 80px;
	top: 30px;
	*top: 40px;

}
.row.casos-clinicos{
	border: thin solid #ccc;
	position: relative;
	top: -3px;
	width: 98%;
}
.casos-clinicos p{
	margin: 8px 12px;
	font-family: 'Open sans';
	color: #696b6d;
	font-size: 15px;
}
.casos-clinicos h3{
	background: #e8e8e8;
	margin: 0;
	padding: 5px 12px;
	font-family: 'Open sans';
	color: #696b6d;
}
.casos-clinicos h3 span{
	font-weight: 400;
	font-size: 13px;
}
.row.casos-clinicos img{
	vertical-align: bottom;
}
.blue{
	color: #0560ac;
}
span.date{
	font-size: 12px;
}
.name{
	font-size: 15px;
}
.watch-video a{
	color: #666666;
}
.forum h2{
	margin-top: 27px;
	font-size: 15.5px;
	font-weight: 400;
}
.forum-comments{
	background: #ececec;
	font-size: 12px;
}
.forum-comment{
	background: #fff;
	border: thin solid #ccc;
	margin: 10px 10px 10px 0;
	padding: 10px;
	position: relative;
	font-family: 'Open sans';
}
.comment-arrow{
	background: url('../img/flecha-comment.jpg') no-repeat;
	height: 31px;
	left: -33px;
	position: absolute;
	top: 8px;
	width: 33px;
}
.name-comment{
	margin: 10px;
	font-family: 'Open sans';
	color: #bcbbb9;
}
div.tabs{
	
}
ul.tab-nav{
	display: block;
	list-style: none !important;
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
}
ul.tab-nav li{
	list-style: none !important;
	float: left;
	margin-right: 5px;
	

	
}
ul.tab-nav a{
	/*background: #3766aa url('../img/bg-tabs.jpg') repeat-x;*/
	background: #43a6df;"
	color: #fff;
	font-size: 15px;
	/*padding: 5px 10px;*/
	padding: 6px 36px;
	line-height: 2;

	/*border-top-right-radius: 10px;
	border-top-left-radius: 10px;*/
}
ul.tab-nav a.selected{
	/*background: #3766aa url('../img/bg-tabs-active.jpg') repeat-x;*/
	background: #43a6df;
}
ul.tab-nav a:hover{
	text-decoration: none;
}
.doctor{
	background: #e7e7e7;
	border: thin solid #e3e3e3;
	margin-top: 35px;
}
.doctor-info{
	background: #fefefe;
	margin-top: 10px;
	position: relative;
}
.doctor-info .three {
	width: 24% !important;
}
.tabs-content{
	clear: both;
	/*border: thin solid #ccc;*/
	background: #fff;
	padding-top: 10px;
}
.doctor-name{
	background: url('../img/bg-doctor-name.jpg') repeat-x;
	color: #fff;
	font-size: 16px;
	left: -1px;
	min-width: 120px;
	padding: 0 8px;
	position: absolute;
	top: -30px;
	width: auto;
	z-index: 10;

	line-height: 2;

	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.pmenu{
	position: relative;
	z-index: 9999;
}
.menuP{
	/*background: #1e9cd7 url(../img/menubg.gif) repeat-x 0 0;*/
	/*border-left: 1px solid #C0D6E5;*/
	height: 31px;
	width: 118px;

	line-height: 1.9;
	margin: 0 auto;

	white-space: nowrap;

    right: 20px;
    position: absolute;
    z-index: 9999;

    zoom:1;
}

.menuP.onlysc{
	left:0;
	margin:0;
	width: 100%;
}

.menuP ul{
	float: left;
	position: relative;
	width: 100%;

	margin: 0;
	padding: 0;

	z-index: 1001;
	zoom: 1;
	height: 31px;
}
.menuP ul li{
	display: inline;
	float: left;
	position: relative;
	zoom: 1;

	z-index: 2000;
	height: 31px;
}
.menuP ul li a{
	font-size: 14px;
	/*border-right: 1px solid #C0D6E5;*/
	color: #fff;
	display: block;
	padding: 2px 22px;

	text-decoration: none;

	height: 28px;
}
.menuP ul li a:hover,
.menuP ul li.active a{
	/*background: #1e9cd7 url(../img/menubg_hover.gif) repeat-x 0 0;*/
	background: #5fa6da;
}
.menuP ul li.active a{

}
.menuP ul li > ul {
	background-color: #249dd8;
	left: auto;
	top: 31px;
	border: 1px solid #C0D6E5;
}
.menuP ul li > ul li a{
	border-right: 0;
	border-bottom: 1px solid #2296cd;
}
.menuP ul ul{
	left: 0!important;
	height: auto;
	margin: 0;
	margin-left: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	visibility: hidden;
	width: 240px;
	z-index: 1002;
}
.menuP ul ul li{
	float: left;
	width: 100%;
}
.menuP ul li:hover>ul{
	visibility:visible
}
.menuP ul ul ul{
	left: 240px!important;
	top: 0;
}

	.SCform, #formulario-casos label { display: block; font-size: 16px; line-height: 18px; cursor: pointer; margin-bottom: 9px; font-weight: 700;}

	.SCform, #formulario-casos label span { font-weight: 400; }

	.SCform, #formulario-casos input, textarea { border: 1px solid #ccc;  width: 100%; }
	.SCform, #formulario-casos input, textarea, select { display: block; margin-bottom: 9px; }
	.SCform, #formulario-casos input, textarea { font-size: 13px; padding: 8px; background: #fff url('../img/bg-form.jpg') top right repeat-y; }
	.SCform, #formulario-casos input.submit{ width: 161px; height: 53px; border: 0; margin: 0 auto; background: none;}

	textarea{ resize: none; height: 120px;}
#Complementarios{
	border: 0;
	background: none;
}
/** #davidvu **/

/** yass **/

#sidebar-2{
	width: 222px;
}	
.video-view-1{ margin:5px 0 0 6px;}	

.duracion-1{ float:right;
	margin-top:0;
}
/*.menu-1 ul{
	margin:0;	
}

.menu-1 li {
	float:left;
	display:inline;
	margin-left:2px;
}
.menu-1 li a {
	background-image: url(../img/sprite.png);
	display:block;
	width:18px;
	height:18px;
	text-indent:-9000em;
	margin:5px 0 50px 0;
}
.menu-1 .facebook a {
	background-position:0 0;
}
.menu-1 .twitter a {
	background-position:50px 0;
}	

.menu-1 .in a {
	background-position:100px 0;
}
.menu-1 .cuadritos a {
	background-position:150px 0;
}

.menu-1 .estrella a {
	background-position:200px 0;
}

.menu-1 .mail a {
	background-position:250px 0;
}

.menu-1 .google a {
	background-position:0 -50px;
	width:26px;
	
}*/
.video-1 {
	margin-bottom:5px;
}

/** #yass **/

.altoFijo {
    min-height:560px;
}

.altoFijoVideo {
    min-height:540px;
}

.iIbersartan .rightbox{
	position: static;
}
#dnn_dnnBREADCRUMB_lblBreadCrumb{
	position: absolute;
	top: 15px;
	left: 0px;
}
.pcontent{
	min-height: 540px;
	position: relative;
}

.casos-clinicos .SCform input, textarea{
	/*border: 0;*/
	width: 100%;
}

.leftbox{
	position: relative;
	z-index: 1000;
}




/* Elastislide Style */

.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	min-height: 60px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.elastislide-wrapper.elastislide-loading {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-horizontal {
	padding: 10px 40px;
}

.elastislide-vertical {
	padding: 40px 10px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
}

.elastislide-vertical ul li {
	display: block;
}

.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
}

.elastislide-carousel ul li a img {
	display: block;
	border: 2px solid white;
	max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background: #ddd url(../images/nav.png) no-repeat 4px 3px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	top: 50%;
	left: 10px;
	margin-top: -11px;
}

.elastislide-vertical nav span {
	top: -18px;
	left: 50%;
	margin-left: -11px;
	background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
	right: 10px;
	left: auto;
	background-position: 4px -17px;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: -28px;
	top: auto;
	background-position: -17px -18px;
}
/* Custom Elastislide Styling */

.demo-1 .elastislide-horizontal {
	padding: 10px 37px;
	border-radius: 10px/90px;
	box-shadow: 
		0 1px 3px rgba(0, 0, 0, 0.1), 
		inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), 
		inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), 
		inset -10px 0 10px 1px rgba(155, 155, 155, 0.1), 
		inset 10px 0 10px 1px rgba(155, 155, 155, 0.1);
}

.demo-1 .elastislide-wrapper:before,
.demo-1 .elastislide-wrapper:after{
	content: '';
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left:  20px;
	width: 50%;
	height: 20%;
	border-radius: 10px/90px;
	box-shadow: 0 15px 10px rgba(0,0,0,0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.demo-1 .elastislide-wrapper:after {
	right: 20px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.demo-2 .elastislide-vertical {
	max-width: 170px;
	padding: 0px 10px;
	border-radius: 90px/10px;
	box-shadow: 
		0 1px 3px rgba(0, 0, 0, 0.1), 
		inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), 
		inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), 
		inset 0 -10px 10px 1px rgba(155, 155, 155, 0.1), 
		inset 0 10px 10px 1px rgba(155, 155, 155, 0.1);
}

.demo-2 .elastislide-vertical:before {
	top: 30px;
	bottom: 30px;
	left: 0;
	right: 0;
	content: " ";
	position: absolute;
	z-index: -2;
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	border-radius: 20px/160px;
}

.demo-2 .elastislide-vertical:after {
	content: " ";
	position: absolute;
	z-index: -2;
}

.demo-3 .elastislide-horizontal {
	background-color: #000;
	padding: 30px 60px;
}

.no-touch .demo-3 .elastislide-horizontal {
	opacity: 0.8;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.no-touch .demo-3 .elastislide-horizontal:hover {
	opacity: 1;
}

.demo-3 .elastislide-wrapper nav span {
	background-color: #000;
}

.demo-3 .elastislide-carousel ul li a{
	padding: 0 10px;
}

.demo-3 .elastislide-carousel ul li a img {
	border-radius: 10px;
	border: none;
}

.demo-4 .elastislide-horizontal {
	background-color: transparent;
	border-radius: 20px 20px 0 0;
}

.demo-3 .elastislide-horizontal.elastislide-loading,
.demo-4 .elastislide-horizontal.elastislide-loading {
	background-image: url(../images/loading_dark.gif);
}

.demo-4 .elastislide-carousel ul li a{
	padding: 2px;
}

.demo-4 .elastislide-carousel ul li a img {
	border-radius: 10px;
	border: none;
	box-shadow: 0 1px 2px #000;
}

.demo-4 .elastislide-wrapper nav span {
	background-color: #666;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.demo-4 .image-preview img {
	border-radius: 0 0 20px 20px;
	max-width: 100%;
	display: block;
}

.demo-4 .elastislide-carousel ul li.current-img a img {
	box-shadow: 0 0 3px 2px rgba(62,235,255,0.8);
}

@media screen and (max-width: 460px) {
	.demo-3 .elastislide-horizontal {
		padding: 10px 40px;
	}
}




.box {
float:left;
clear:both;
width:100%;
margin-left: 10px;
/*margin-top: 18px;*/
font-family: Arial, Helvetica, sans-serif;
font-size:
}



.box2 {
float:left;
clear:both;
width:100%;
margin-left: 32px;
/*margin-top: 18px;*/
font-family: Arial, Helvetica, sans-serif;
}

.btn {
float:left;
display:inline-block;
width:105px;
* width:98px;
height:30px;
* height:30px;
line-height:34px;
padding:0px 0 0 56px;
background:#EBEBEB;
color:#999 !important;
font-weight:bold !important;
font-size:20px !important;
text-shadow:0 1px 0 #fff;
position:relative;
border:1px solid #DFDFDF;
margin:0 10px 10px 0;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;margin-left: 7px;
}

.btn:hover {
border-color:#cacaca;
background:#F5F5F5;
}

.btn span {
display:block;
position:absolute;
top:16px;
left:9px;
width:32px;
height:32px;
background-repeat:no-repeat;
background-position:center;
}

#flotante{
	top: 0;
	margin:0; padding:0; height:100%; width:100%;
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: top right;
	overflow-x: hidden;
	position: absolute;
	background-image: url(../img/flotante.png);
	display: none;
}

#cerrarcita{
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	float: right;
	left: 50px;
	top: -30px;
	cursor: pointer;
	overflow: hidden;
}

#textopop{
	position:absolute;
	top:114px; 
	left:7%;
	margin-right:30px;
}

@media (min-width: 1440px) and (max-width: 4000px) {
	#textopop{
		position:absolute;
		left:40px;
		/*margin-right:30px;*/
		width:560px;
	}
	
	#cerrarcita{
		position:absolute;
		float:left;
		left: 627px;
		top: 1px;
	}
}

#titupop{
	position:absolute; 
	top:90px; 
	left:7%;
}

#flotante2{
	top: 0;
	margin:0; padding:0; height:100%; width:100%;
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: top right;
	overflow-x: hidden;
	position: absolute;
	background-image: url(../img/flotante.png);
	display: none;
}

#cerrarcita2{
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	float: right;
	left: 50px;
	top: -30px;
	cursor: pointer;
	overflow: hidden;
}

#cont_flotante{
	position: fixed;
	left: 31%;
	top: 30%;
	height: 60%;
	width: 44%;
	overflow: hidden;
	z-index: 999;
	}

@media (max-width: 1030px) {
	#cont_flotante{
		width:456px;
	}
}

.btn.muestra {
float:left;
display:inline-block;
width:140px;
height:40px;
line-height:0px;
padding:19px 18px 0 40px;
background:#EBEBEB;
color:#999;
font-weight:bold;
font-size:15px !important;
text-shadow:0 1px 0 #fff;
position:relative;
border:1px solid #DFDFDF;
margin:0 10px 10px 0;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
} 
.btn.muestra span {
display:block;
position:absolute;
top:5px;
left:9px;
width:32px;
height:32px;
background-repeat:no-repeat;
background-position:center;
}


.btn.muestra span {
	
	background-image:url(../images/icons/pencil.png);
}

/* ------ buttons bt2
-----------------------------------------------*/

.btn2 {
float:left;
display:inline-block;
width:252px;
height:40px;
line-height:0px;
padding:19px 18px 0 55px;
background:#EBEBEB;
color:#999;

font-size:15px;

position:relative;
border:1px solid #DFDFDF;
margin:0 10px 10px 0;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
}

.btn2:hover {
border-color:#cacaca;
background:#F5F5F5;
}

.btn2 span {
display:block;
position:absolute;
top:5px;
left:9px;
width:32px;
height:32px;
background-repeat:no-repeat;
background-position:center;
}


.btn2.muestra span {
	
background-image:url(../images/icons/aprobado.png);

}

/*************************************/

#divVerTodos{background: #f5f5f5;border: solid 1px #d8d8d8;border-radius: 1px;width: 97px;height: 23px;float: right;padding-top: 2px;}

#aVerTodos{color: #333364;margin-left: 18px;}

#divVerTodos:hover, #aVerTodos:hover {text-decoration: none; background: #d8d8d8;}

.Required{
    color:red;
}
ul.secondLevel{
	font-style: normal;
	font-weight: normal;
}
@media (min-width: 768px){
	.menucardiolat{
	    text-align: left !important;
	    padding-left:182px !important;
	}
}
.secondLevel{
    top:33px !important;
}


.container-cardiolat:nth-of-type(1){
    margin-top: 20px;
}
@media (max-width: 768px){
    .menucardiolat{
	    text-align: left !important;
	    padding-left:0px !important;
	}
	ul.secondLevel{
		top: 0 !important;
	}
}